header {
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#logo {
    flex: 30%;
}
#logo img {
    max-height: 65px;
    margin: 0 auto;
}

#nav {
    flex: 70%;
    min-width: 350px;
    display: flex;
    justify-content: space-evenly;
}